/* site style start  */
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Epilogue", sans-serif;
}

.container {
  width: 1390px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

/* site header style start  */

.site-header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.header-navigation {
  margin-left: 40px;
}

.header-navigation__list {
  display: flex;
}

.header-navigation__item {
  position: relative;
}

.header-navigation__item:nth-child(1) .header-navigation__link::after {
  display: block;
  width: 8px;
  height: 4px;
  margin-left: 9px;
  background-image: url("../image/drop.svg");
  background-repeat: no-repeat;
  background-size: 6px 4px;
  content: "";
}

.header-navigation__item:nth-child(2) .header-navigation__link::after {
  display: block;
  width: 8px;
  height: 4px;
  margin-left: 9px;
  background-image: url("../image/drop.svg");
  background-repeat: no-repeat;
  background-size: 6px 4px;
  content: "";
}

.header-navigation__link {
  display: flex;
  padding: 20px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
  transition: color 0.4s ease;
}


.header-navigation__link:hover {
  color: #151515;
}

.list-item__dropdown {
  position: absolute;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
  border-radius: 10px;
}

.dropdown {
  display: none;
  right: 15px;
}

.header-navigation__item:nth-child(1):hover .dropdown {
  display: block;
}

.dropdown-item {
  margin-bottom: 16px;
}

.dropdown-item:last-child {
  margin-bottom: 0;
}

.dropdown-item__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
  transition: color 0.4s ease;
}

.dropdown-item__link:hover {
  color: #151515;
}

.dropdown-item .dropdown-item__link::before {
  display: block;
  width: 14px;
  height: 16px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: 14px 16px;
  content: "";
}

.dropdown-item:nth-child(1) .dropdown-item__link::before {
  background-image: url("../image/list.svg");
}

.dropdown-item:nth-child(2) .dropdown-item__link::before {
  background-image: url("../image/calendar.svg");
}

.dropdown-item:nth-child(3) .dropdown-item__link::before {
  background-image: url("../image/bell.svg");
}

.dropdown-item:nth-child(4) .dropdown-item__link::before {
  background-image: url("../image/hour.svg");
}

.dropdown-end {
  display: none;
  width: 130px;
  padding: 24px 25px;
  left: 20px;
}

.header-navigation__item:nth-child(2):hover .dropdown-end {
  display: block;
}

.dropdown-end__item {
  margin-bottom: 16px;
}

.dropdown-end__item:last-child {
  margin-bottom: 0;
}

.dropdown-end__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
  transition: color 0.4s ease;
}

.dropdown-end__link:hover {
  color: #151515;
}

.header-box {
  display: flex;
  margin-left: auto;
  column-gap: 40px;
  align-items: center;
}

.header-box__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
  transition: all 0.4s ease;
}

.header-box__link:hover {
  color: #151515;
}

.header-box__link:last-child {
  padding: 13px 23px;
  border: 1.5px solid #686868;
  border-radius: 14px;
}

.header-box__link:last-child:hover {
  border: 1.5px solid #151515;
  border-radius: 14px;
}

/* header style finish  */
/* main style start */
.site-main {
  flex-grow: 1;
}

.hero-wrapper {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 65px 0;
}

.hero-box {
  width: 540px;
  padding-top: 105px;
}

.hero-box__heading {
  margin-top: 0;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  color: #151515;
}

.hero-box__paragrph {
  margin-top: 0;
  margin-bottom: 51px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #686868;
}

.hero-box__link {
  display: inline-block;
  margin-bottom: 115px;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.25px;
  color: #fafafa;
  background-color: #151515;
  border-radius: 15px;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}

.hero-box__link:hover {
  color: #151515;
  background-color: #fff;
  border: 1px solid #151515;
  border-radius: 15px;
}

.hero-box__list {
  display: flex;
  column-gap: 40px;
}

/* main style stil finish  */
/* site style finish */